.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#maindiv {
  color: blue;
  font-size: large;
  justify-content: end;
  background-color: aqua;
}

.peliculadisponible{
  color: black;
  border: 1px black solid;
  background-color: greenyellow;
  justify-content: center;
  text-align: left;
  border-right-width:content;
}

.peliculacomprada {
  color: black;
  border: 1px black solid;
  background-color: #ff0009;
  justify-content: center;
  text-align: left;
  border-right-width:content;
}